@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}
.headerG{
  background: #F55A5A;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 8px;
  color: aliceblue;
}
.imageCroper{
  width: 280px;
  height: 300px;
  overflow: hidden;
}
.travel_pic{
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
  object-position: center;
}
.card_holder{
  display: flex;
  padding: 50px 40px;
  gap: 30px;
}
.info_loc{
  display: flex;
  align-items: center;
  gap: 8px;
}
.gps_pic{
  width: 18px;
}
.main_content{
  width: 700px;
  padding: 20px 0;
}
.countryName{
  letter-spacing: 4px;
}
a:active{
  color: rgb(145, 139, 139);
}
a:visited{
  color: rgb(146, 139, 139);
}
a{
  color: rgb(146, 139, 139);
}
h1{
  padding: 15px 0;
}
.main_content > p{
  padding: 15px 0;
  font-size: large;
  line-height: 1.5;
}